<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Mixtli</title>
    <link rel="stylesheet" href="/css/subida.css">
    <link rel="shortcut icon" href="/images/logo/logo.png">
  </head>
  <body>
    <nav class="cabecera">
      <a href="/agregando-cursos">Agregar cursos</a>
      <label>Actualizar cursos </label>
    </nav>
    <div class="contenido">
      <form id="cursos" enctype="multipart/form-data" class="formulario">
        <input type="text" name="titulo" placeholder="Titulo" value="{{ info.titulo }}">
        <input type="date" name="fecha" value="{{ fecha }}">
        <textarea name="informacion" placeholder="Información del curso">{{ info.informacion }}</textarea>
        <input type="file" name="cursos">
        <input type="number" name="costo" placeholder="Costo del curso" value="{{ info.costo }}">
        <input type="hidden" value="{{ info._id }}" name="id" id="id">
        <input type="submit" class="submit" value="Actualizar">
        <label id="cargando"></label>
      </form>
      <div id="cursos-obt" class="cursos-obt">

      </div>
    </div>
    <script src="/js/global.js"></script>
    <script src="/js/editar.js">
    </script>
  </body>
</html>
