
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mixtli &mdash; G-Suite</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Somos un grupo de visionarios que ayudamos a las empresas mexicanas a transformar sus procesos operativos tradicionales en modelos operativos digitales de alto impacto, apalancados en tecnología de punta, muy sencilla e integral y que cubra tres características fundamentales: colaboración, movilidad y seguridad." />
	<meta name="keywords" content="gsuite, google, gsuite en mexico, como adquirir gsuite en mexico, mixtli, gsuite en mexico, gmail, google, empresas, tabasco, campeche, chiapas, yucatan, cancun" />
	<meta name="author" content="www.kimvex.com" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="images/logo/logo.png">

	<!-- Google Webfonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet">
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- Simple Line Icons-->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div id="fh5co-offcanvass">
		<ul>
			<li class="active"><a href="#" data-nav-section="home">Mixtli</a></li>
			<li><a href="#" data-nav-section="us">Nosotros</a></li>
			<li><a href="#" data-nav-section="design">Servicios</a></li>
			<li><a href="#" data-nav-section="parallax">Herramientas Colaborativas</a></li>
			<li><a href="#" data-nav-section="features">G Suite</a></li>
			<li><a href="#" data-nav-section="testimonies">Casos de Éxito</a></li>
			<li><a href="#" data-nav-section="contact-us">Contáctanos</a></li>
		</ul>
		<h3 class="fh5co-lead">Síguenos</h3>
		<p class="fh5co-social-icons">
			<a href="https://www.facebook.com/mixtlimx/" target="_blank"><i class="icon-facebook"></i></a>
			<a href="https://www.instagram.com/mixtli_mx/" target="_blank"><i class="icon-instagram"></i></a>
		</p>
	</div>

	<div id="fh5co-menu" class="navbar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><span>Menu</span> <i></i></a>
					<a href="/" class="navbar-brand"><img src="images/logo/logo_mixtli.png"></a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-page">
		<div id="fh5co-wrap">
			<header id="fh5co-hero" data-section="home" role="banner" style="background: url(images/home-mixtli.png) no-repeat; background-size: cover;" >
				<div class="fh5co-overlay"></div>
				<div class="fh5co-intro">
					<div class="container">
						<div class="row">

							<div class="col-md-12 fh5co-text text-center">
								<h1 class="to-animate intro-animate-1">MIXTLI</h1>
								<p class="to-animate intro-animate-2 col-md-10 col-md-offset-1">Transformación digital.</p>
							</div>

						</div>
					</div>
				</div>
			</header>
			<!-- END .header -->

			<div id="fh5co-main">

				<!-- Nosotros -->
				<div id="fh5co-us" data-section="us">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2 class="col-md-12 nosotros-t text-center to-animate">Nosotros</h2>
								<p class="col-md-8 nosotros-p to-animate">Expertos Mexicanos que llevan a las empresas  a transformar sus procesos tradicionales en modelos operativos digitales de alto impacto, apalancados en tecnología de punta, sencilla e integral y que cubra tres características fundamentales: colaboración, movilidad y seguridad.</p>
								<div class="col-md-4 nosotros-logo">
									<img src="images/logo/logo_mixtli.png" class="logo-mixtli-1 to-animate" alt="logo mixtli">
									<img src="images/logo/logo.png" class="logo-mixtli-2 to-animate" alt="logo mixtli">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fin nosotros -->

				<!-- Servicios -->
			    <div id="fh5co-features-2" data-section="design">
					<div class="fh5co-features-2-content">
					    <div class="container">
					    	<div class="row">
					    		<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
									<h2 class="nosotros-t to-animate">Servicios</h2>
								</div>
					    		<div class="col-md-4 fh5co-text-wrap">
					    			<div class="row text-center">
						    			<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-3 servicios-c">
						    				<span class="fh5co-icon"><img src="images/g_suite.png" class="img-suite-servicio"></span>
											<h4 class="fh5co-uppercase-sm">G-Suite & Cloud Platform</h4>
											<p>Comercialización e implementación de herramientas de G-suite y Google Platform.</p>
										</div>
										<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-4 servicios-c">
											<span class="fh5co-icon"><i class="fa fa-cogs" id="iconos"></i></span>
											<h4 class="fh5co-uppercase-sm">Implementación</h4>
											<p>Implementación de Proyectos digitales de gran escala (hardware / software).</p>
										</div>
										<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-4 servicios-c">
											<span class="fh5co-icon"><i class="fa fa-line-chart"></i></span>
											<h4 class="fh5co-uppercase-sm">Consultoría</h4>
											<p>Consultoría y mejora de procesos.</p>
										</div>

									</div>
					    		</div>
					    		<div class="col-md-4 col-md-push-4 fh5co-text-wrap">
					    			<div class="row text-center">
						    			<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-5 servicios-c">
						    				<span class="fh5co-icon"><i class="fa fa-address-card"></i></span>
											<h4 class="fh5co-uppercase-sm">Capacitación</h4>
											<p>Capacitación y Entrenamiento.</p>
										</div>
										<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-6 servicios-c">
											<span class="fh5co-icon"><i class="fa fa-window-restore"></i></span>
											<h4 class="fh5co-uppercase-sm">Desarrollo de aplicaciones</h4>
											<p>Desarrollo de aplicaciones colaborativos e integrados a la medida (hardware / software).</p>
										</div>
										<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-6 servicios-c">
											<a href="http://chkd.com.mx" target="_blank" class="chkd">
												<img class="logo-chkd" src="images/logo/chkd.png">
												<h4 class="fh5co-uppercase-sm h4-chkd">CHKD</h4>
												<p>Herramientas en medición de calidad y servicio a través de encuestas de satisfacción y Mystery Shopper</p>
											</a>
										</div>

									</div>
					    		</div>
					    		<div class="col-md-4 col-md-pull-4 fh5co-image animate-object features-2-animate-2">
					    			<p class="text-center">
					    			<img src="images/iphone.png" class="" alt="Servicios Mixtli">
					    			</p>
					    		</div>

					    	</div>
					    </div>
					</div>

			    </div>
			    <!-- Fin servicios -->

			    <!-- Parallax -->
				<div id="fh5co-parallax" data-section="parallax">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-6 parallax-info text-center">
								<p>Herramientas Colaborativas Empresariales</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Informacion Colaborativas -->
				<div id="fh5co-info-colaborativa" data-section="info-colaborativa">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center to-animate">
								<p>G Suite es un paquete de herramientas online  que te ayuda a optimizar tu empresa utilizando aplicaciones como: Gmail personalizado con tu dominio, Calendarios compartidos, Almacenamiento en la nube con Google Drive, Hangouts para videollamadas, Documentos, Hojas de cálculo, Presentaciones y más.</p>
							</div>
						</div>
					</div>
				</div>

				<div id="fh5co-beneficios">
					<div class="container">
						<div class="row text-center">
							<p>Beneficios de adquirir <strong>G-Suite</strong> para mi empresa</p>
						</div>
					</div>
				</div>
			<div data-section="features">
<!-- Slider -->
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				      <img src="images/slide-colaboracion.png" alt="Gsuite Colaboración" style="width: 100%; height: 100%;" class="img-responsive">
				      <div class="carousel-caption">
				            <h3 class="slide-h3">Colaboración</h3>
    						<p class="slide-p">Con G Suite, puedes trabajar desde cualquier dispositivo móvil o computadora dentro y fuera de la oficina.</p>
				      </div>
				    </div>
				    <div class="item">
				      <img src="images/slide-disponibilidad.png" alt="Gsuite Disponibilidad" style="width: 100%; height: 100%;">
				      <div class="carousel-caption">
				            <h3 class="slide-h3">Disponibilidad</h3>
    						<p class="slide-p">G Suite garantiza disponibilidad del 99.9% al mes, para optimizar la productividad y evitar períodos de inactividad en el sistema. Incluye soporte técnico de Google las 24 horas del día, los 365 días del año.</p>
				      </div>
				    </div>
				    <div class="item">
				      <img src="images/slide-ahorro.png" alt="Gsuite Ahorro" style="width: 100%; height: 100%;">
				      <div class="carousel-caption">
				            <h3 class="slide-h3">Ahorro</h3>
    						<p class="slide-p">La plataforma de colaboración y comunicación de Google no necesita de un hardware o software especial, el mantenimiento es mínimo; Así las empresas dedican más tiempo a ser productivos en vez de estar actualizando sus soluciones empresariales.</p>
				      </div>
				    </div>				    
				    <div class="item">
				      <img src="images/slide-seguridad.png" alt="Gsuite Seguridad" style="width: 100%; height: 100%;">
				      <div class="carousel-caption">
				            <h3 class="slide-h3">Seguridad</h3>
    						<p class="slide-p">Google ha construido una de las infraestructuras más seguras del mundo y cuenta con más de 500 ingenieros en seguridad para proteger tu información.</p>
				      </div>
				    </div>
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>

<!-- Fin Slider -->



				<div id="fh5co-features">


					<div class="container">
						<div class="row">

							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
								<a href="#" class="fh5co-feature to-animate">
									<h3 class="fh5co-feature-lead">Comunicación</h3>
									<ul class="comunicacion">
										<li><img src="images/gsuite/gmail.png"><p>Gmail</p></li>
										<li><img src="images/gsuite/hangouts.png"><p>Hangouts</p></li>
										<li><img src="images/gsuite/calendar.png"><p>Calendar</p></li>
										<li><img src="images/gsuite/google_plus.png"><p>Google +</p></li>
									</ul>
								</a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
								<a href="#" class="fh5co-feature to-animate">
									<h3 class="fh5co-feature-lead">Colaboración</h3>
									<ul class="comunicacion">
										<li><img src="images/gsuite/docs.png"><p>Procesador de Palabras</p></li>
										<li><img src="images/gsuite/calculo.png"><p>Hojas de Cálculos</p></li>
										<li><img src="images/gsuite/forms.png"><p>Formularios</p></li>
										<li><img src="images/gsuite/slides.png"><p>Presentaciones</p></li>
										<li><img src="images/gsuite/sites.png"><p>Google Sites</p></li>
									</ul>
								</a>
							</div>
							<div class="clearfix visible-sm-block"></div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
								<a href="#" class="fh5co-feature to-animate">
									<h3 class="fh5co-feature-lead">Administración</h3>
									<ul class="comunicacion">
										<li><img src="images/gsuite/admin.png"><p>Consola de Administración</p></li>
										<li><img src="images/gsuite/vault.png"><p>Google Vault</p></li>
									</ul>
								</a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
								<a href="#" class="fh5co-feature to-animate">
									<h3 class="fh5co-feature-lead">Almacenamiento</h3>
									<ul class="comunicacion">
										<li><img src="images/gsuite/drive.png"><p>Drive</p></li>
									</ul>
								</a>
							</div>

			        	</div>
			       </div>
			    </div>
			</div>
				<div id="fh5co-clients">
					<div class="container">
						<h2 class="partners text-center to-animate">Partners</h2>
						<div class="row text-center">
							<div class="col-md-3 col-sm-6 col-xs-6 col-md-offset-3 to-animate">
								<figure class="fh5co-client"><img src="images/logo/logoxertica.png" alt="Logo Xertica - Partner Mixtli"></figure>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 to-animate">
								<figure class="fh5co-client"><img src="images/logo/logo-google.png" alt="Logo Google - Partner Mixtli"></figure>
							</div>
						</div>
					</div>
				</div>
				<div id="fh5co-videos">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-12">								
									<div class="col-md-6 video-m">
										<div class="resp-video" style="padding-top: 56.25%;">
											<iframe class="contenedor-video-src" src="https://www.youtube.com/embed/GCFYnY7-DwY" frameborder="0" allowfullscreen ></iframe>
										</div>
									</div>
									<div class="col-md-6 video-m">
										<h3 class="nosotros-t">Innovación Constante</h3>
										<p class="nosotros-p">Empodere a sus empleados en cualquier lugar para que colaboren y desarrollen productos y servicios que triunfen en el mercado donde se encuentre.</p>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>

			    <div id="fh5co-testimony" data-section="testimonies">

				    <div class="container">
				    	<div class="row animate-box cosas">

							<div class="owl-carousel">

								<div class="item">
									<div class="col-md-3 col-sm-3 col-xs-4 col-xxs-12">
						    			<figure class="fh5co-vcard"><img src="images/logo/CGR.png" alt="CGR Seguros y Fianzas" class="img-responsive"></figure>
						    		</div>
						    		<div class="col-md-9 col-sm-9 col-xs-8 col-xxs-12">
						    			<blockquote>
						    				<p>&ldquo;Con G suite y la implementación que realizó Mixtli Tecnología, la disminución de costos directos por pagos de licenciamiento anual fue de un 75%, sin contar las reducciones de costos indirectos por gastos de viaje.&rdquo;</p>
						    			</blockquote>
						    			<p class="fh5co-author fh5co-uppercase-sm"><span>Oscar Moreno, Director de Operaciones</span>, CRG Seguros y Fianzas.</p>
						    		</div>
						    	</div>

						    	<div class="item">
									<div class="col-md-3 col-sm-3 col-xs-4 col-xxs-12">
						    			<figure class="fh5co-vcard"><img src="images/logo/mentalita.png" alt="Logo Mentálita" class="img-responsive"></figure>
						    		</div>
						    		<div class="col-md-9 col-sm-9 col-xs-8 col-xxs-12">
						    			<blockquote>
						    				<p>&ldquo;Mixtli nos ayudó a diseñar los procesos operativos y estandarizarlos, con la plataforma G Suite la vida de todos aquí fue más fácil.&rdquo;</p>
						    			</blockquote>
						    			<p class="fh5co-author fh5co-uppercase-sm"><span>Wendy Delgado, Directora General</span>, Mentálita.</p>
						    		</div>
						    	</div>

						    	<div class="item">
									<div class="col-md-3 col-sm-3 col-xs-4 col-xxs-12">
						    			<figure class="fh5co-vcard"><img src="images/logo/logo-gruposubitto.png" alt="Logo Grupo Subitto" class="img-responsive"></figure>
						    		</div>
						    		<div class="col-md-9 col-sm-9 col-xs-8 col-xxs-12">
						    			<blockquote>
						    				<p>&ldquo;Con la movilidad y seguridad que nos ofrecen las herramientas de G Suite, pudimos establecer eficientar los mapeos de procesos de nuestros clientes de una forma más efectiva, en menor tiempo y con menos personal.&rdquo;</p>
						    			</blockquote>
						    			<p class="fh5co-author fh5co-uppercase-sm"><span>Felipe León, Director General</span>, Grupo Subitto.</p>
						    		</div>
						    	</div>

						    </div>

				    	</div>
				    </div>
			    </div>

				<section id="vista-cursos">

				</section>

				<div id="fh5co-subscribe" data-section="contact-us">
					<div class="container">
						<div class="row animate-box">
							<h2 class="nosotros-t text-center">Contáctanos</h2>
							<form id="form-contact">
								<div class="col-md-6">
									<div class="col-md-12 col-sm-12">
										<div class="form-group">
											<input type="text" id="nombre" class="form-control" placeholder="Nombre">
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="form-group">
											<input type="Email" id="email" class="form-control" placeholder="Correo">
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="form-group">
											<input type="tel" id="numero" class="form-control" placeholder="Teléfono">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="col-md-12 col-sm-12">
										<div class="form-group">
											<textarea id="mensaje" class="form-control mensaje-control" placeholder="Tu Mensaje"></textarea>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class=" col-md-offset-5 col-md-3 col-sm-3">
										<div class="form-group">
											<input type="submit" class="btn btn-primary" value="Enviar">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>

		<footer id="fh5co-footer" style="margin-top: 150px;">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-footer-content">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.7076849675223!2d-92.9465601858146!3d17.9923318898129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd78f103fdb61%3A0xdb82e1789cf8ad80!2sCalle+Juan+Escutia+107%2C+Col.+Lindavista%2C+86050+Villahermosa%2C+Tab.!5e0!3m2!1ses-419!2smx!4v1492725509387" frameborder="0" style="border:0; width:100%; height:300px;" allowfullscreen></iframe>
						</div>

						<div class="col-md-3 col-sm-12" style="padding-top: 140px;">
							<div class="fh5co-footer-logo"><img class="logo-footer" src="images/logo/logo_mixtli.png"></div>
							<p class="fh5co-copyright text-center"><small>&copy; 2017. All Rights Reserved. <br>	by <a href="https://www.kimvex.com" target="_blank">Mixtli Tecnología</a></small></p>
							<p class="fh5co-social-icons text-center">
								<a href="https://www.facebook.com/mixtlimx/" target="_blank"><i class="icon-facebook"></i></a>
								<a href="https://www.instagram.com/mixtli_mx/" target="_blank"><i class="icon-instagram"></i></a>

							</p>
						</div>

						<div class="col-md-3">
							<h3 class="fh5co-lead">Contacto</h3>
							<ul>
								<li><strong>E-mail:</strong> felipe.delacruz@mixtlimx.com</li>
								<!-- <li><strong>Teléfono:</strong> (993)-3-33-33-33</li> -->
								<li><strong>Dirección:</strong> Juan Escutia 107 Primer Piso, Col. Lindavista, 86050, Villahermosa, Tab.</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</footer>
	</div>


	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Owl Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- toCount -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>

	<script src="js/global.js"></script>
	<script src="js/contacto.js">

	</script>

	</body>
</html>
