<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mextli</title>
  </head>
  <body>
    <h1>Mextli</h1>
    <form id="cursos" enctype="multipart/form-data">
      <input type="text" name="titulo">
      <input type="date" name="fecha">
      <textarea name="informacion"></textarea>
      <input type="file" name="cursos">
      <input type="number" name="costo">
      <input type="submit" value="Agregar curso">
    </form>
    <p>
      <div id="cursos-obt">

      </div>
    </p>
    <script src="js/subida.js">
    </script>
  </body>
</html>
